*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*Navbar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b616b;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: #dce4ef;
    color: black;
    box-shadow: 0 0 10px white;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
/* Home Page */
#home{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: url(Water.png);
    background-size: 700px 200px;
    background-repeat: repeat-x;
    animation: flow 3s linear infinite;
    
}

@keyframes flow{
    0%{
        background-position: -1200px 200px;
    }
    100%{
        background-position: 0px 200px;
    }
}

.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

#headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

#btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%
}
h3{
    color: black;
    font-size: 100px;
}
p{
    color: black;
    font-size: 11px; 
    line-height: 15px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.card1{
    background-image: url(home.jpg)    
}

.card2{
    background-image: url(about.png)    
}
.card3{
    background-image: url(skill.jpg)    
}
.card4{
    background-image: url(Project.jpg)    
}
.card5{
    background-image: url(contact.jpg)    
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: black;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    background-color: #fdb81e;
    align-items: center;
    text-align: justify;
    color: #212121;
}

#image{
    display: flex;
}

#image img{
    width: 275px;
    height: 400px;
}



#intro{
    display: flex;
    flex-direction: column;
    text-align: ce center;
    padding: 10px;
    
}

#intro h2{
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}
#pic2 img{
    height: 350px;
    width: auto;
}

/* Skills */

#skills{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #94bfa2;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

/* Porjects Section */

#project{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #323a45;
    color: #ffffff;
}

#projects{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: teal;
}

#project2{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #94bfa2;
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
}

#photo{
    display: flex;
}

#photo img{
    width: 575px;
    height: 400px;
}

#project{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#project h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Contacts Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #5b616b;
    color: white;
    padding: 20px;
    text-align: center;
}



.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

footer{
    text-align: center;
    background-color: #fad980;
}